name: Build and Push Arqut Edge CE HA Add-on

on:
  workflow_dispatch:
    inputs:
      # the run ID of the workflow that the artifacts are downloaded from
      run_id:
        required: true
        type: string
      # the version of addon to build
      version:
        required: true
        type: string
  workflow_call:
    inputs:
      # the run ID of the workflow that the artifacts are downloaded from
      run_id:
        required: true
        type: string
      # the version of addon to build
      version:
        required: true
        type: string

env:
  GH_TOKEN: ${{ secrets.APP_REPO_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - arch: i386
            build_from: ghcr.io/home-assistant/i386-base-debian:bullseye
          - arch: amd64
            build_from: ghcr.io/home-assistant/amd64-base-debian:bullseye
          - arch: armv6
            build_from: ghcr.io/home-assistant/armv7-base-debian:bullseye
          - arch: armv7
            build_from: ghcr.io/home-assistant/armv7-base-debian:bullseye
          - arch: aarch64
            build_from: ghcr.io/home-assistant/aarch64-base-debian:bullseye

    steps:
      - name: Print version
        run: echo "Version ${{ inputs.version }}"

      - name: Checkout addon code
        uses: actions/checkout@v4

      - name: Download Application Artifacts
        uses: actions/download-artifact@v5
        with:
          path: arqut-edge-ce/app-binaries
          run-id: ${{ inputs.run_id }}
          github-token: ${{ env.GH_TOKEN }}

      - name: List downloaded app binaries
        run: ls -R arqut-edge-ce/app-binaries

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          # username: ${{ github.actor }}
          # password: ${{ env.GH_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/arqut-ha-addon
          tags: |
            type=ref,event=tag
            type=sha,prefix={{branch}}-
          labels: |
            org.opencontainers.image.title=Arqut Edge Home Assistant Addon
            org.opencontainers.image.description=Home Assistant addon for Arqut Edge
            org.opencontainers.image.vendor=Arqut

      - name: Build and push HA Addon image
        uses: docker/build-push-action@v4
        with:
          context: ./arqut-edge-ce
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/arqut-edge-ce-ha-addon-${{ matrix.arch }}:latest
            ghcr.io/${{ github.repository_owner }}/arqut-edge-ce-ha-addon-${{ matrix.arch }}:${{ inputs.version }}
          build-args: |
            BUILD_FROM=${{ matrix.build_from }}
            BINARY_PATH=./app-binaries/${{ matrix.arch }}/arqut-edge-ce

      - name: Set version output
        id: set_version
        run: echo "version=${{ inputs.version }}" >> $GITHUB_OUTPUT

    outputs:
      version: ${{ steps.set_version.outputs.version }}

  trigger-next:
    needs: build
    uses: tphan267/arqut-ha-addon/.github/workflows/update-arqut-edge-ce-version.yaml@main
    with:
      version: ${{ needs.build.outputs.version }}
