name: Build Arqut Edge EE Add-on

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string

jobs:
  call-build-binaries:
    uses: ./.github/workflows/build-arqut-edge-ee-binaries.yaml
    with:
      version: ${{ github.event.inputs.version }}

  build-addon:
    runs-on: ubuntu-latest
    needs: call-build-binaries

    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        include:
          - arch: i386
            build_from: ghcr.io/home-assistant/i386-base-debian:bullseye
          - arch: amd64
            build_from: ghcr.io/home-assistant/amd64-base-debian:bullseye
          - arch: armv6
            build_from: ghcr.io/home-assistant/armv7-base-debian:bullseye
          - arch: armv7
            build_from: ghcr.io/home-assistant/armv7-base-debian:bullseye
          - arch: aarch64
            build_from: ghcr.io/home-assistant/aarch64-base-debian:bullseye

    steps:
      - name: Print version
        run: echo "Version ${{ inputs.version }}"

      - name: Checkout addon code
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install PyYAML
        run: pip install pyyaml

      - name: Check and update version
        id: update_version
        run: |
          FILE="arqut-edge/config.yaml"
          NEW_VERSION="${{ inputs.version }}"

          python <<EOF
          import os
          import yaml

          with open("$FILE", "r") as f:
              data = yaml.safe_load(f)

          current_version = data.get("version", "")
          print("Current version:", current_version)

          if current_version != "$NEW_VERSION":
              print("Updating version to:", "$NEW_VERSION")
              data["version"] = "$NEW_VERSION"
              with open("$FILE", "w") as f:
                  yaml.dump(data, f, sort_keys=False)
              with open(os.environ['GITHUB_OUTPUT'], 'a') as out:
                  out.write("changed=true\n")
          else:
              print("Version is already up to date.")
              with open(os.environ['GITHUB_OUTPUT'], 'a') as out:
                  out.write("changed=false\n")
          EOF

      - name: Commit and push changes
        if: ${{ steps.update_version.outputs.changed == 'true' }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add arqut-edge/config.yaml
          git diff --cached --quiet || git commit -m "[CI] Update version to ${{ inputs.version }}"
          git push origin HEAD:main

      - name: Download binaries
        uses: actions/download-artifact@v4
        with:
          name: arqut-edge-ee-binaries
          path: ./arqut-edge-ee/app-binaries

      - name: List downloaded app binaries
        run: ls -Rl arqut-edge-ee/app-binaries
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push HA Addon image
        uses: docker/build-push-action@v4
        with:
          context: ./arqut-edge-ee
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/arqut-edge-ee-ha-addon-${{ matrix.arch }}:latest
            ghcr.io/${{ github.repository_owner }}/arqut-edge-ee-ha-addon-${{ matrix.arch }}:${{ inputs.version }}
          build-args: |
            BUILD_FROM=${{ matrix.build_from }}
            BINARY_PATH=./app-binaries/${{ matrix.arch }}/arqut-edge-ee