name: Update Arqut Edge CE Version

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

env:
  GH_TOKEN: ${{ secrets.APP_REPO_TOKEN }}

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Print version
        run: echo "Version: ${{ inputs.version }}"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # token has write permissions
          token: ${{ env.GH_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install PyYAML
        run: pip install pyyaml

      - name: Check and update version
        id: update_version
        run: |
          FILE="arqut-edge-ce/config.yaml"
          NEW_VERSION="${{ inputs.version }}"

          python <<EOF
          import os
          import yaml

          with open("$FILE", "r") as f:
              data = yaml.safe_load(f)

          current_version = data.get("version", "")
          print("Current version:", current_version)

          if current_version != "$NEW_VERSION":
              print("Updating version to:", "$NEW_VERSION")
              data["version"] = "$NEW_VERSION"
              with open("$FILE", "w") as f:
                  yaml.dump(data, f, sort_keys=False)
              with open(os.environ['GITHUB_OUTPUT'], 'a') as out:
                  out.write("changed=true\n")
          else:
              print("Version is already up to date.")
              with open(os.environ['GITHUB_OUTPUT'], 'a') as out:
                  out.write("changed=false\n")
          EOF

      - name: Commit and push changes
        if: ${{ steps.update_version.outputs.changed == 'true' }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add arqut-edge-ce/config.yaml
          git diff --cached --quiet || git commit -m "[CI] Update version to ${{ inputs.version }}"
          git push origin HEAD:main
